<div class="jumbotron mt-5">
  <h1 class="display-2">Hello, world!</h1>
  <p class="lead">This is a simple app where we have integrated Google Calendar with Rails 6. </p>
  <hr class="my-4">
  <p>Very simple to use and you can create as many as events you want.</p>
  <p class="lead">
    <%= link_to 'Create Your Event', new_event_path, class: "btn btn-primary btn-lg" %>
  </p>
</div>
